html {
  background: url(../images/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  font-family: Lato;
  margin: 0px; }

a {
  text-decoration: none; }

.header {
  background-color: rgba(221, 135, 32, 0.51);
  height: inherit;
  width: 100%;
  border-bottom: 2px solid black;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px; }
  .header .logo {
    float: left; }
    .header .logo .logoImg {
      margin-left: 20px;
      margin-right: 20px;
      float: left; }
    .header .logo img {
      height: 100px; }
  .header .logoName {
    font-size: 50px;
    float: left;
    font-family: raleway;
    font-weight: bolder;
    line-height: 100px;
    color: #54340c; }
  .header .link a {
    font-size: 35px;
    float: right;
    position: relative;
    margin-right: 30px;
    line-height: 80px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: #985f19;
    border: 5px solid #54340c;
    color: #ffebd2;
    display: block; }
    .header .link a:hover {
      border: 5px solid white; }

.content {
  margin-top: -5px; }
  .content .section1 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    float: left; }
    .content .section1 .section {
      padding-top: 70px;
      padding-bottom: 50px;
      width: 90%;
      float: right; }
      .content .section1 .section .left {
        width: 50%;
        float: left; }
        .content .section1 .section .left img {
          width: 50%;
          float: right;
          margin-right: 30px; }
      .content .section1 .section .right {
        width: 50%;
        float: left; }
        .content .section1 .section .right .top {
          width: 100%;
          float: left;
          font-weight: bold;
          font-size: 60px;
          font-family: raleway;
          color: #492B07; }
        .content .section1 .section .right .bottom {
          width: 100%;
          font-size: 40px;
          float: left;
          color: #492B07; }
  .content .section2 {
    width: 100%;
    background-color: rgba(16, 7, 123, 0.48);
    display: inline-block;
    float: left; }
    .content .section2 .section {
      padding-top: 70px;
      padding-bottom: 50px;
      width: 90%;
      float: right; }
      .content .section2 .section .top {
        color: #c2cde0;
        text-align: left;
        padding-left: 20%;
        font-size: 60px; }
      .content .section2 .section .bottom {
        color: #c2cde0;
        font-family: raleway;
        text-align: left;
        text-indent: 60px;
        font-size: 30px;
        padding-top: 10px;
        padding-left: 20%;
        padding-right: 20%; }
  .content .section3 {
    width: 100%;
    background-color: rgba(196, 196, 44, 0.24);
    display: inline-block;
    float: left; }
    .content .section3 .section {
      padding-top: 150px;
      padding-bottom: 50px;
      width: 90%;
      float: right; }
      .content .section3 .section .left {
        width: 50%;
        float: left; }
        .content .section3 .section .left .image {
          width: 50%;
          float: right;
          margin-right: 30px; }
          .content .section3 .section .left .image .smallBox {
            margin-left: 25%;
            margin-right: 25%;
            width: 50%; }
          .content .section3 .section .left .image .lidLeft {
            z-index: 51;
            width: 50%;
            float: left; }
          .content .section3 .section .left .image .lidRight {
            z-index: 52;
            width: 50%;
            float: right; }
          .content .section3 .section .left .image .bigBox {
            z-index: 50; }
      .content .section3 .section .right {
        width: 50%;
        float: left; }
        .content .section3 .section .right .top {
          color: #24261c;
          text-align: left;
          padding-left: 20%;
          font-size: 60px; }
        .content .section3 .section .right .bottom {
          color: #24261c;
          font-family: raleway;
          text-align: left;
          font-size: 30px;
          padding-top: 10px;
          padding-left: 20%;
          padding-right: 20%; }
          .content .section3 .section .right .bottom .mini {
            margin-top: 5px;
            font-size: 14px; }

/*# sourceMappingURL=style.css.map */
