/* line 2, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
html {
  background: url(../images/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 10, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
::-webkit-scrollbar {
  width: 1em;
  background-color: #e6e6e6; }

/* line 15, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 0;
  background-color: rgba(209, 144, 65, 0); }

/* line 22, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: .25em;
  background: #dd8720;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); }

/* line 28, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: #939393; }

/*
add under breakD, then test out font sizes

add to section 1

@media (max-device-width: 414px) {
	.left img {
		width: 90%;
	}
}

//////////

add to section 2

@media (max-device-width: 414px) {
	.bottom{
		padding-left: 10%;
		padding-right: 10%;
	}
}

//////////

add to section 3

@media (max-device-width: 414px) {
	.left{
		width: 70%;
	}
}

@media (max-device-width: 414px) {
	.right{
		width: 100%;
		float: left;
		margin-top: 17%;
	}
}

//////////


add to section 4 images

@media (max-device-width: 414px) {
	.img {
		width: 75%;
		margin-left: 12.5%;
		margin-right: 12.5%;
		margin-bottom: 5%;
	}
}


*/
/* line 139, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
body {
  font-family: Lato;
  margin: 0px; }

/* line 143, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
a {
  text-decoration: none; }

/* line 146, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
.sidebar {
  background-color: rgba(255, 0, 0, 0);
  position: fixed;
  width: 10%;
  height: 100%;
  display: none;
  padding-top: 12%; }
  /* line 153, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
  .sidebar .map {
    background-color: transparent;
    width: 100%;
    height: 60%;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px; }
    /* line 160, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
    .sidebar .map .dotLink {
      width: 100%;
      float: left; }
      /* line 163, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
      .sidebar .map .dotLink .dot {
        width: 25px;
        height: 25px;
        border-radius: 25px;
        margin: 10px;
        background-color: #bcbcbc;
        border: 5px solid #272727;
        display: inherit; }
        /* line 172, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
        .sidebar .map .dotLink .dot:hover {
          border: 5px solid #000000;
          background-color: white; }

/* line 180, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
.header {
  background-color: rgba(221, 135, 32, 0.51);
  height: inherit;
  width: 100%;
  border-bottom: 2px solid black;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px; }
  /* line 188, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
  .header .logo {
    float: left; }
    /* line 190, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
    .header .logo .logoImg {
      margin-left: 20px;
      margin-right: 20px;
      float: left; }
  /* line 199, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
  .header .logoName {
    font-size: 50px;
    float: right;
    font-family: raleway;
    font-weight: bolder;
    color: #54340c; }
  /* line 208, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
  .header .link a {
    font-size: 30px;
    float: right;
    position: relative;
    margin-right: 30px;
    line-height: 100%;
    margin-top: 8.5px;
    margin-bottom: 8.5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: rgba(221, 166, 99, 0.67);
    border: 2px solid #54340c;
    color: #58360c;
    display: block; }
    /* line 224, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
    .header .link a:hover {
      border: 2px solid white; }

/* line 234, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
.content {
  margin-top: -5px; }
  /* line 236, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
  .content .sectionNumber {
    width: 100%;
    display: inline-block;
    float: left; }
    /* line 240, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
    .content .sectionNumber .section {
      padding-left: 3%;
      padding-right: 3%;
      width: 94%;
      margin-top: 70px;
      margin-bottom: 70px;
      padding-top: 70px;
      padding-bottom: 70px;
      display: inline-block; }
  /* line 256, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
  .content .section1 {
    background-color: rgba(255, 255, 255, 0.3); }
    /* line 259, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
    .content .section1 .section .left {
      width: 50%;
      float: left; }
      /* line 262, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
      .content .section1 .section .left img {
        width: 50%;
        float: right;
        margin-right: 30px; }
    /* line 268, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
    .content .section1 .section .right {
      width: 50%;
      float: left; }
      /* line 271, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
      .content .section1 .section .right .top {
        width: 100%;
        float: left;
        font-weight: bold;
        font-size: 60px;
        font-family: raleway;
        color: #492B07; }
      /* line 279, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
      .content .section1 .section .right .bottom {
        width: 100%;
        font-size: 40px;
        float: left;
        color: #492B07; }
  /* line 288, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
  .content .section2 {
    background-color: rgba(28, 17, 167, 0.48); }
    /* line 292, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
    .content .section2 .section .top {
      color: #d9dfea;
      text-align: left;
      padding-left: 20%;
      font-size: 60px; }
    /* line 298, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
    .content .section2 .section .bottom {
      color: #d9dfea;
      font-family: raleway;
      text-align: left;
      text-indent: 60px;
      font-size: 30px;
      padding-top: 10px;
      padding-left: 20%;
      padding-right: 20%; }
  /* line 310, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
  .content .section3 {
    background-color: rgba(196, 196, 44, 0.24); }
    /* line 314, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
    .content .section3 .section .left {
      width: 50%;
      float: left;
      position: relative; }
      /* line 318, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
      .content .section3 .section .left .image {
        margin-top: 300px;
        width: 50%;
        float: right;
        margin-right: 30px;
        position: relative; }
        /* line 324, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
        .content .section3 .section .left .image .glow {
          z-index: -48;
          position: absolute; }
        /* line 328, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
        .content .section3 .section .left .image .smallBox {
          margin-left: 25%;
          margin-right: 25%;
          width: 50%;
          z-index: 49;
          position: absolute; }
        /* line 335, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
        .content .section3 .section .left .image .lidLeft {
          z-index: 51;
          width: 50%;
          padding-right: 50%;
          float: left;
          position: absolute;
          -webkit-transform-origin: center left;
          transform-origin: center left; }
        /* line 344, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
        .content .section3 .section .left .image .lidRight {
          z-index: 52;
          width: 50%;
          padding-left: 50%;
          float: right;
          position: absolute;
          -webkit-transform-origin: center right;
          transform-origin: center right; }
        /* line 353, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
        .content .section3 .section .left .image .bigBox {
          z-index: 55;
          position: absolute; }
    /* line 359, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
    .content .section3 .section .right {
      width: 50%;
      float: right; }
      /* line 362, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
      .content .section3 .section .right .top {
        color: #24261c;
        text-align: left;
        padding-left: 20%;
        font-size: 60px; }
      /* line 368, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
      .content .section3 .section .right .bottom {
        color: #24261c;
        font-family: raleway;
        text-align: left;
        font-size: 30px;
        padding-left: 20%;
        padding-right: 20%; }
        /* line 375, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
        .content .section3 .section .right .bottom .mini {
          margin-top: 5px;
          font-size: 16px; }
  /* line 383, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
  .content .section4 {
    background-color: rgba(134, 21, 21, 0.48); }
    /* line 389, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
    .content .section4 .section {
      width: 100%;
      padding-left: 0%;
      padding-right: 0%; }
      /* line 393, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
      .content .section4 .section .top {
        color: #e3e3e3;
        text-align: center;
        font-size: 60px;
        width: 100%;
        float: left; }
      /* line 400, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
      .content .section4 .section .bottom {
        margin-top: 50px;
        font-family: raleway;
        color: #e3e3e3;
        width: 100%;
        float: left; }
        /* line 406, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
        .content .section4 .section .bottom .color1 {
          background-color: rgba(74, 15, 15, 0.2); }
        /* line 409, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
        .content .section4 .section .bottom .color2 {
          background-color: rgba(134, 21, 21, 0.2); }
        /* line 412, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
        .content .section4 .section .bottom .color3 {
          background-color: rgba(74, 15, 15, 0.2); }
        /* line 415, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
        .content .section4 .section .bottom .color {
          width: 100%;
          display: inline-block; }
          /* line 418, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
          .content .section4 .section .bottom .color .category {
            margin-top: 30px;
            margin-bottom: 30px; }
            /* line 421, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
            .content .section4 .section .bottom .color .category .image {
              margin-left: 3%;
              margin-right: 3%; }
              /* line 424, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
              .content .section4 .section .bottom .color .category .image img {
                width: 100%; }
            /* line 428, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
            .content .section4 .section .bottom .color .category .text {
              margin-left: 3%;
              margin-right: 3%;
              color: #cbcbcb; }
              /* line 432, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
              .content .section4 .section .bottom .color .category .text .topText {
                font-size: 40px;
                text-align: center; }
              /* line 436, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
              .content .section4 .section .bottom .color .category .text .bottomText {
                text-indent: 10%;
                font-size: 30px; }
          /* line 442, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
          .content .section4 .section .bottom .color .first, .content .section4 .section .bottom .color .third {
            float: left; }
            /* line 444, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
            .content .section4 .section .bottom .color .first .image, .content .section4 .section .bottom .color .third .image {
              width: 30%;
              float: left;
              padding: 0%; }
            /* line 449, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
            .content .section4 .section .bottom .color .first .text, .content .section4 .section .bottom .color .third .text {
              text-align: left; }
              /* line 451, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
              .content .section4 .section .bottom .color .first .text .center, .content .section4 .section .bottom .color .third .text .center {
                text-align: left; }
              /* line 454, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
              .content .section4 .section .bottom .color .first .text .bottomText, .content .section4 .section .bottom .color .third .text .bottomText {
                text-indent: 10%;
                text-align: left; }
          /* line 460, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
          .content .section4 .section .bottom .color .second {
            float: left; }
            /* line 462, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
            .content .section4 .section .bottom .color .second .image {
              width: 30%;
              float: right;
              padding: 0%; }
            /* line 467, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
            .content .section4 .section .bottom .color .second .text {
              text-align: left; }
              /* line 469, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
              .content .section4 .section .bottom .color .second .text .center {
                text-align: left; }
              /* line 472, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
              .content .section4 .section .bottom .color .second .text .bottomText {
                text-indent: 10%;
                text-align: left; }
  /* line 482, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
  .content .section5 {
    background-color: rgba(14, 72, 4, 0.49); }
    /* line 485, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
    .content .section5 .section {
      margin-bottom: 0px;
      display: block; }
      /* line 488, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
      .content .section5 .section .top {
        width: 100%;
        color: #caf4c0;
        text-align: center;
        font-size: 60px;
        display: block; }
      /* line 495, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
      .content .section5 .section .bottom {
        text-align: center;
        width: 100%;
        margin-top: 30px; }
        /* line 499, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
        .content .section5 .section .bottom .link {
          border-left: 9px solid #0a450a;
          border-right: 9px solid #0a450a;
          border-top: 5px solid #0a450a;
          border-bottom: 5px solid #0a450a;
          border-radius: 30px;
          display: inline-block;
          background-color: rgba(10, 126, 10, 0.29); }
          /* line 510, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
          .content .section5 .section .bottom .link:hover {
            border-left: 9px solid #051705;
            border-right: 9px solid #051705;
            border-top: 5px solid #051705;
            border-bottom: 5px solid #051705; }
          /* line 516, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
          .content .section5 .section .bottom .link a {
            background-color: rgba(10, 126, 10, 0.29);
            padding-left: 30px;
            padding-right: 30px;
            font-size: 50px;
            color: #caf4c0;
            border-radius: 20px;
            font-family: raleway; }
      /* line 527, C:/Users/Splash/Documents/GitHub/product/css/style.scss */
      .content .section5 .section .pseudoFooter {
        margin-top: 100px;
        font-size: 20px;
        color: #72ad76;
        text-align: center; }


/*# sourceMappingURL=style.css.map */