html{
  background: url(../images/background.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	font-family: Lato;
	margin: 0px;
}
a{
	text-decoration: none;
}
.header{
	background-color: rgba(221, 135, 32, 0.51);
	height: inherit;
	width: 100%;
	border-bottom: 2px solid black;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	.logo{
		float: left;
		.logoImg{
			margin-left: 20px;
			margin-right: 20px;
			float: left;
		}
			img{
				height: 100px;
			}
		}
		.logoName {
			font-size: 50px;
			float: left;
			font-family: raleway;
			font-weight: bolder;
			line-height: 100px;
			color: rgb(84, 52, 12);
			//todo: jquery to vertically center
		}
	.link {
		a{
			font-size: 35px;
			float: right;
			position: relative;
			margin-right: 30px;
			line-height: 80px;
			margin-top: 10-2.5px;
			margin-bottom: 10-2.5px;
			//todo: jquery to vertically center (lineheight+margintop+marginbot = header's height - 5)
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 20px;
			background-color: rgb(152, 95, 25);
			border: 5px solid rgb(84, 52, 12);
			color: rgb(255, 235, 210);
			display: block;
			&:hover{
				border: 5px solid white	
			}
		}
	}
}
.content{
	margin-top: -5px;
	.section{
			
	}
	.section1{
		width: 100%;
		background-color: rgba(255, 255, 255, 0.3);
		display: inline-block;
		float: left;
		.section{
			padding-top: 70px;
			padding-bottom: 50px;
			width: 90%;
			float: right;
			.left{
				width: 50%;
				float: left;
				img{
					width: 50%;
					float: right;
					margin-right: 30px;
				}
			}
			.right{
				width: 50%;
				float: left;
				.top{
					width: 100%;
					float: left;
					font-weight: bold;
					font-size: 60px;
					font-family: raleway;
					color: #492B07;
				}
				.bottom{
					width: 100%;
					font-size: 40px;
					float: left;
					color: #492B07;
				}
			}
		}
	}
	.section2{
		$sectionColor: rgb(194, 205, 224);
		width: 100%;
		background-color: rgba(16, 7, 123, 0.48);
		display: inline-block;
		float: left;
		.section{
			padding-top: 70px;
			padding-bottom: 50px;
			width: 90%;
			float: right;
			.top{
				color: $sectionColor;
				text-align: left;
				padding-left: 20%;
				font-size: 60px;
			}
			.bottom{
				color: $sectionColor;
				font-family: raleway;
				text-align: left;
				text-indent: 60px;
				font-size: 30px;
				padding-top: 10px;
				padding-left: 20%;
				padding-right: 20%;
			}
		}
	}
	.section3{
		$sectionColor: rgb(36, 38, 28);
		width: 100%;
		background-color: rgba(196, 196, 44, 0.24);
		display: inline-block;
		float: left;
		.section{
			padding-top: 150px;
			padding-bottom: 50px;
			width: 90%;
			float: right;
			.left{
				width: 50%;
				float: left;
				.image{
					width: 50%;
					float: right;
					margin-right: 30px;
					.glow{
						
					}
					.smallBox{
						margin-left: 25%;
						margin-right: 25%;
						width: 50%;
					}
					.lidLeft{
						z-index: 51;
						width: 50%;
						float: left;
					}
					.lidRight{
						z-index: 52;
						width: 50%;
						float: right;
					}
					.bigBox{
						z-index: 50;
					}
				}
			}
			.right{
				width: 50%;
				float: left;
				.top{
					color: $sectionColor;
					text-align: left;
					padding-left: 20%;
					font-size: 60px;
				}
				.bottom{
					color: $sectionColor;
					font-family: raleway;
					text-align: left;
					font-size: 30px;
					padding-top: 10px;
					padding-left: 20%;
					padding-right: 20%;
					.mini{
						margin-top: 5px;
						font-size: 14px;	
					}
				}
			}
		}	
	}
	.section4{
		.section{
			
		}		
	}
	.section5{
		.section{
			
		}		
	}
}